header {
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(31, 46, 63, 0) 70%,
      rgba(31, 46, 63, 0.75),
      #1f2e3f 100%,
      transparent
    ),
    url("../../images/background_img.png");
  background-size: cover;
  background-position: center;

  height: 100vh;
  padding: 0;
  margin-top: -10px;
}
.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogo {
  padding: 43px 42px;
  background-color: var(--main-bg-color-);
}

.navbar__list {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar__item {
  border-bottom: 1px solid #2c3348;
  transition: border-bottom 1s ease;
}
.navbar__item:hover {
  border-bottom: 1px solid var(--main-text-color-);
}
.navbar__item:not(:last-child) {
  margin-right: 25px;
}
.navbar__link {
  text-decoration: none;
  text-transform: uppercase;
}

.telephoneNum {
  text-decoration: none;
}
.headerTopStyle {
  margin-top: 12px;
}

.headerInner {
  display: flex;
  margin-top: 125px;
  justify-content: space-between;
}
.headerInnerLeft {
  width: 50%;
}
.headerInnerTitle {
  text-transform: uppercase;
}
.headerInnerText {
  margin: 20px 0 30px 0;
}
.headerInnerLink {
  color: var(--main-title-color-);
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-bottom: 2px solid var(--main-title-color-);
}

.headerInnerDivider div {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 40px;
}
.headerInnerDivider div:last-child {
  background-color: #fff;
}
.headerInnerSlider {
  margin-top: 300px;
}
.headerInnerSlider a {
  text-decoration: none;
}

/* Menu-Toggler */

.menu-toggler {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 16;
  background-color: var(--main-bg-color-);
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--main-text-color-);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}

/* Media query */
@media (max-width: 1300px) {
  .headerTopText {
    font-size: 14px;
    line-height: 18px;
  }
  .headerTopStyle {
    margin-top: 10px;
  }
  .headerLogo {
    padding: 30px;
    background-color: var(--main-bg-color-);
  }
}

@media (max-width: 1170px) {
  .container {
    padding: 0 50px;
  }
  .headerTopText {
    font-size: 12px;
    line-height: 16px;
  }
  .headerTopStyle {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .headerLogo {
    padding: 25px;
    background-color: var(--main-bg-color-);
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
  .headerTopText {
    font-size: 10px;
    line-height: 14px;
  }
  .headerTopStyle {
    margin: 0;
    padding: 0;
  }
  .headerLogo {
    padding: 20px;
    background-color: var(--main-bg-color-);
  }

  .headerInnerRight {
    display: none;
  }
  .headerInnerLeft {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: rgba(31, 46, 63, 0.5);
  }
}

@media (max-width: 760px) {
  .navbar__list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main-bg-color-);
    width: 100%;
    height: 100%;
    z-index: 15;
    margin-bottom: 0;
    border-radius: 0;
    transform: translateY(-100%);
  }
  .navbar-open {
    animation: site-in 0.3s ease 1 forwards;
  }
  .navbar-close {
    animation: site-out 0.3s ease 1 forwards;
  }
  .navbar__item {
    margin: 20px 0 !important;
  }
  .navbar__link {
    font-size: 35px;
  }
  .menu-toggler {
    display: block;
  }
  .telephoneNum {
    display: none;
  }
  .headerInnerTitle {
    font-size: 30px;
    line-height: 50px;
  }

  .headerInnerText {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .headerInnerLeft {
    height: 500px;
  }
  .headerInnerTitle {
    font-size: 20px;
    line-height: 25px;
  }

  .headerInnerText {
    font-size: 14px;
    line-height: 18px;
  }
}

/* Keyframes */
@keyframes site-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes site-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
